<div class="row">
	<div class="col-xs-12">
		<img  src="{{recipe.imagePath}}" alt="Image path here" class="img-responsive">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h1>Recipe Name is: {{recipe.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group" dropdowndirective>
			<button
			class="btn btn-primary dropdown-toggle" >Manage Button<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#" (click)="onSelect()"  >To Shopping List</a></li>
				<li><a href="#" disabled="disabled">Edit Recipe</a></li>
				<li><a href="#" disabled="disabled">Delete Recipe</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12"> {{recipe.description}}</div>
</div>
<div class="row">
	<!-- <div class="col-xs-12" *ngFor="let ingredient of recipe.ingredients">
    <div class="col-md-7">{{ingredient.name}}</div>
    <div class="col-md-5">{{ingredient.amount}}</div>

  </div>
here -->
  <ul class="list-group">
<li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}   </li>

  </ul>
</div>
